# exclude jupyter checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/
cache/

#data files
data/*
*.csv

#images
*.png
*.svg
!year_in_sports_example_output.png